
#page-content li.version-13-red {
    list-style-image: url(../img/bullet_red_13.png);
}

#page-content li.version-12-red {
    list-style-image: url(../img/bullet_red_12.png);
}

#page-content li.version-11-red {
    list-style-image: url(../img/bullet_red_11.png);
}

#page-content li.version-10-red {
    list-style-image: url(../img/bullet_red_10.png);
}

#page-content li.version-9-red {
    list-style-image: url(../img/bullet_red_9.png);
}

#page-content li.version-8-red {
    list-style-image: url(../img/bullet_red_8.png);
}

/***************************************************/

#page-content li.version-13-green {
    list-style-image: url(../img/bullet_green_13.png);
}

#page-content li.version-12-green {
    list-style-image: url(../img/bullet_green_12.png);
}

#page-content li.version-11-green {
    list-style-image: url(../img/bullet_green_11.png);
}

#page-content li.version-10-green {
    list-style-image: url(../img/bullet_green_10.png);
}

#page-content li.version-9-green {
    list-style-image: url(../img/bullet_green_9.png);
}

#page-content li.version-8-green {
    list-style-image: url(../img/bullet_green_8.png);
}